language: node_js
node_js:
  - '0.8'
  - '0.10'
before_install:
  - currentfolder=${PWD##*/}
  - if [ "$currentfolder" != 'generator-17173fedp' ]; then cd .. && eval "mv $currentfolder generator-17173fedp" && cd generator-17173fedp; fi

